{% extends "base.html" %}
{% block head %}
<title>About</title>
<link
href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
rel="stylesheet"
/>
{% endblock %}
{% block content%} 
<center
style="font-size: 65px; font-family: 'Cookie', cursive; text-align: left"
>
About
</center>

<hr align="center" size="6px" color="black" />
"The most beautiful pieces are those that madness prompts and reason writes."
<br><br>
Writing (or blogging, here) is a great way to share our own experiences with others. 
Through attending (or not attending) classes, all- nighters, club activities, friendships, day-outs, we grow and learn at each step on the way.
College life never stops. 
<br><br>
Perspective is an online blogging website created by a group of four students- Nivedita, Mansi, Sugandha and Rishitha as a part of a college project.
 
Made exclusively for IITI students, once you log in, you'll be greeted with the latest posts on a range of tags. Click on any topic to start reading that article. 
You can leave comments on posts and let the author know how much you appreciated their work ;)
Or you can pen down your own article! 
You can also visit the profile of your favourite writer and see all the articles they've written, in one place. 
If you really liked an article and would want to refer to it later on, you can save it with just one click!
An easy access to your saved list, so that you can revisit the articles that you liked.
The search option allows you to find out all the aticles written on any topic- you can peruse them all at your leisure.
<br><br>
About Us:
<br>
<u>Nivedita:</u> Second year civil engineering undergraduate. You can find her on LinkedIn :)
<br>
email:ce210004030@iiti.ac.in
<br><br>
<u>Mansi:</u> Second year electrical engineering undergraduate. If not lazying around, she's probably designing or studying.
<br>
email:ce210004025@iiti.ac.in
<br><br>
<u>Sugandha:</u> Second year civil engineering undergraduate. Loves to learn and explore.
<br>
email:ce210004048@iiti.ac.in
<br><br>
<u>Rishitha:</u>  Second year civil engineering undergraduate. Likes to dance,just exploring things. 
<br>
email:ce210004015@iiti.ac.in
{%endblock%}
