{% extends "base.html" %} {% block head %}
<title>Write</title>
<link rel="stylesheet" type="text/css" href="../static/write.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
  rel="stylesheet"
/>
{%endblock%} {% block content%}
<div class="left">
  <center>
    <div class="one">
    <a href="myprofile.html">
      <img src="../static/profile-removebg-preview.png"
    /></a></div>
    <div class="two"><a href="homefeed.html"
      ><img src="../static/home-removebg-preview.png"
    /></a></div>
    <div class="three">
    <a href="search.html"
      ><img src="../static/search-removebg-preview.png"
    /></a></div>
    <div class="four"> <a href="write.html"><img src="../static/note-removebg-preview.png" /></a></div>
  </center>
</div>
<div class="middle">
  <center
    style="font-size: 65px; font-family: 'Cookie', cursive; text-align: left"
  >
    Write
  </center>
  <hr align="center" size="3px" color="black" />
  <div class="rects">
    <form method="POST">
      <textarea
        name="heading"
        id="heading"
        class="form-control"
        placeholder="Heading"
        style="
          background-color: #b7e1ea;
          width: 100%;
          height: 40px;
          font-family: 'Acme', sans-serif;
          font-size: 25px;
        "
      ></textarea>
      Choose Text Formatting:
      <select name="formatting" id="formatting">
        <option value="bold">Bold</option>
        <option value="italics">Italics</option>
        <option value="none">None</option>
      </select>
      <br />

      <textarea
        name="text"
        id="text"
        class="form-control"
        placeholder="Start Writing Here!"
        style="
          background-color: #b7e1ea;
          margin-top: 20px;
          height: 400px;
          width: 100%;

          font-size: 20px;
        "
      ></textarea>
      Add Tags:
      <select name="tags" id="tags">
        <option value="finance">finance</option>
        <option value="life">life</option>
        <option value="motivation">motivation</option>
        <option value="dance">dance</option>
        <option value="drama">drama</option>
        <option value="music">music</option>
        <option value="games">games</option>
        <option value="college life">college life</option>
        <option value="technology">technology</option>
      </select>
      <br />
      <button
        type="submit"
        style="background-color: #b7e1ea; border-radius: 20px; height: 40px"
      >
        <span
          style="
            font-size: 20px;
            padding: 10px;
            font-family: 'Acme', sans-serif;
          "
          >Post</span
        >
      </button>
    </form>
  </div>
</div>
<div class="third">
  <nav class="navbar navbar-expand-lg">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <center>
          <li class="nav-item" style="padding-left:50px ;">
            <img
              src="../static/Screenshot (544).png"
              width="150px"
              height="150px"
            />
          </li>
          <br />
          <li class="nav-item">
            <p
              style="padding-top: 150px; padding-left: 50px; word-spacing: 5px"
            >
              <b><a href="saved.html">Your Saved List</a></b>
              <img
                src="../static/Screenshot (546).png"
                width="20px"
                height="20px"
              />
            </p>
          </li>
          <li class="nav-item">
            <p
              style="
                word-spacing: 15px;
                padding-top: 150px;
                padding-left: 50px;
                font-family: 'Acme', sans-serif;
              "
            >
              <a href="about.html">About</a>
              <a href="terms.html">Terms</a>
            </p>
          </li>
        </center>
      </ul>
    </div>
  </nav>
</div>
{% endblock %}
