.left {
    background-color: #b7e1ea;
    width: 10%;
    height: 700px;
    float: left;
    margin-left: -50px;
}
.middle 
{
    float: left;
    width: 75%;
}
.rects {
    margin-left: 50px;
    margin-right: 50px;
}

.third {
    background-color: #b7e1ea;
    width: 20%;
    height: 700px;
    float: right;
}
.one {
    padding-top: 120px;
}
.two {
    padding-top: 80px;
}
.three {
    padding-top: 80px;
}
.four {
    padding-top: 80px;
}

